<div class="row">
    <div class="col-lg-12">

        <span class="text-xl-left"> <h3>Personal Form</h3> </span>

        <form [formGroup]="personalForm">
            <div class="col">
                <div class="row col-sm-12">
                    <div class="col-sm-3" [ngClass]="displayFieldStyle(personalForm, 'lastName')">
                        <label class="form-control-label">Last Name <span class="required"></span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="lastName" maxlength="20" [ngClass]="displayFieldStyle(personalForm, 'lastName')">
                        </div>
                        <app-form-control-error [control]="personalForm.get('lastName')"></app-form-control-error>

                    </div>
                    <div class="col-sm-3" [ngClass]="displayFieldStyle(personalForm, 'firstName')">
                        <label class="form-control-label">First Name<span class="required"></span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="firstName" maxlength="20" [ngClass]="displayFieldStyle(personalForm, 'firstName')">
                        </div>
                        <app-form-control-error [control]="personalForm.get('firstName')"></app-form-control-error>


                    </div>
                    <div class="col-sm-3" [ngClass]="displayFieldStyle(personalForm, 'phoneNumber')">
                        <label class="form-control-label">Phone Number<span class="required"></span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="phoneNumber" minlength="10" maxlength="14" number-directive [formatType]="'phone'" [formattedPhone]="personalForm.get('phoneNumber')" [ngClass]="displayFieldStyle(personalForm, 'phoneNumber')">
                        </div>
                        <app-form-control-error [control]="personalForm.get('phoneNumber')"></app-form-control-error>


                    </div>
                    <div class="col-sm-3" [ngClass]="displayFieldStyle(personalForm, 'zipCode')">
                        <label class="form-control-label">ZipCode<span class="required"></span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="zipCode" minlength="5" maxlength="10" number-directive [formatType]="'zipCode'" [formattedZipCode]="personalForm.get('zipCode')" [ngClass]="displayFieldStyle(personalForm, 'phoneNumber')">
                        </div>
                        <app-form-control-error [control]="personalForm.get('zipCode')"></app-form-control-error>


                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-primary btn-rounded btn-sm ml-2">
     Submit
  </button>

</div>