/* You can add global styles to this file, and also import other style files */

$primary-color: #3e50b4;
$success-color: #4bae4f;
$info-color: #00bbd3;
$danger-color:#f34235;
.has-success {
    color: $primary-color;
    border-color: $primary-color;
}

.has-danger {
    color: $danger-color;
    border-color: $danger-color;
}

.form-control {
    color: $primary-color;
}

.form-control-label {
    font-weight: bold;
}

.required:after {
    content: '*';
    color: $danger-color;
    font-weight: bold;
}

.form-group label {
    margin-bottom: 0.2 rem;
}

.text-danger {
    color: $danger-color;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    ;
    &:hover,
    &:active,
    &:active {
        background-color: darkblue;
        border-color: darkblue;
    }
    .btn-rounded {
        border-radius: 5rem;
    }
}